In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("../Training2.csv")

In [7]:
df

                  word  position  total_w  JJ  NN  NNP  NNS
0                plant       1.0      3.0   0   1    0    0
1                  USA       2.0      3.0   0   0    1    0
2   site-customer-duns       1.0      3.0   0   0    0    1
3                India       2.0      3.0   0   0    1    0
4                   Hi       0.0      2.0   0   0    1    0
5                 IBOT       1.0      2.0   0   0    1    0
6          service-now       1.0      7.0   1   0    0    0
7               ticket       2.0      7.0   0   1    0    0
8            migration       4.0      7.0   0   1    0    0
9               Talend       5.0      7.0   0   0    1    0
10                Jobs       6.0      7.0   0   0    1    0
11                 Bye       0.0      1.0   0   1    0    0
12             meaning       1.0      3.0   0   1    0    0
13         Service-now       2.0      3.0   1   0    0    0

In [11]:
x_cols = [x for x in df.columns if x != "position" and x != "word"]

In [12]:
x_cols

['total_w', 'JJ', 'NN', 'NNP', 'NNS']

In [13]:
df[x_cols]

    total_w  JJ  NN  NNP  NNS
0       3.0   0   1    0    0
1       3.0   0   0    1    0
2       3.0   0   0    0    1
3       3.0   0   0    1    0
4       2.0   0   0    1    0
5       2.0   0   0    1    0
6       7.0   1   0    0    0
7       7.0   0   1    0    0
8       7.0   0   1    0    0
9       7.0   0   0    1    0
10      7.0   0   0    1    0
11      1.0   0   1    0    0
12      3.0   0   1    0    0
13      3.0   1   0    0    0